/** layuiAdmin.std-v1.0.0-beta9 LPPL License By http://www.layui.com/admin/ */

/****动画css****/

html, body {
    margin: 0;
    padding:0;
    height: 100%
}

.sky {
    height: 100%;
    width:100%;
    background: #007fd5;
    position: fixed;
    overflow: hidden;
    -webkit-animation: sky_background 50s ease-out infinite;
    -moz-animation: sky_background 50s ease-out infinite;
    -o-animation: sky_background 50s ease-out infinite;
    animation: sky_background 50s ease-out infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_one {
    background: url("/static/admin/imgs/cloud_one.png");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_one 50s linear infinite;
    -moz-animation: cloud_one 50s linear infinite;
    -o-animation: cloud_one 50s linear infinite;
    animation: cloud_one 50s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_two {
    background: url("/static/admin/imgs/cloud_two.png");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_two 75s linear infinite;
    -moz-animation: cloud_two 75s linear infinite;
    -o-animation: cloud_two 75s linear infinite;
    animation: cloud_two 75s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sky .clouds_three {
    background: url("/static/admin/imgs/cloud_three.png");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_three 100s linear infinite;
    -moz-animation: cloud_three 100s linear infinite;
    -o-animation: cloud_three 100s linear infinite;
    animation: cloud_three 100s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes sky_background {
    0% {
        background: #007fd5;
        color: #007fd5
    }
    50% {
        background: #1E9FFF;
        color: #a3d9ff
    }
    100% {
        background: #007fd5;
        color: #007fd5
    }
}
@-moz-keyframes sky_background {
    0% {
        background: #007fd5;
        color: #007fd5
    }
    50% {
        background: #1E9FFF;
        color: #a3d9ff
    }
    100% {
        background: #007fd5;
        color: #007fd5
    }
}
@keyframes sky_background {
    0% {
        background: #007fd5;
        color: #007fd5
    }
    50% {
        background: #1E9FFF;
        color: #a3d9ff
    }
    100% {
        background: #007fd5;
        color: #007fd5
    }
}

@-webkit-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
@keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

/****动画css end***/

#LAY_app,
body,
html {
    height: 100%
}

.layui-layout-body {
    overflow: auto
}

#LAY-user-login,
.layadmin-user-display-show {
    display: block!important
}

.layadmin-user-login {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 15%;
    min-height: 100%;
    box-sizing: border-box;
}

.layadmin-user-login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
    /*background-color: #fff;*/
}

.layadmin-user-login-box {
    padding: 20px 20px 20px 0;
}
.layadmin-user-login-body{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.layadmin-user-login-header {
    text-align: center
}

.layadmin-user-login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    color: #000;
}

.layadmin-user-login-header p {
    font-weight: 300;
    color: #999
}

.layadmin-user-login-body .layui-form-item {
    position: relative
}

.layadmin-user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2
}

.layadmin-user-login-body .layui-form-item .layui-input {
    padding-left: 38px
}

.layadmin-user-login-codeimg {
    max-height: 38px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box
}

.layadmin-user-login-other {
    position: relative;
    font-size: 0;
    line-height: 38px;
    padding-top: 20px
}

.layadmin-user-login-other>* {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px
}

.layadmin-user-login-other .layui-icon {
    position: relative;
    top: 2px;
    font-size: 26px
}

.layadmin-user-login-other a:hover {
    opacity: .8
}

.layadmin-user-jump-change {
    float: right
}

.layadmin-user-login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .5)
}

.layadmin-user-login-footer span {
    padding: 0 5px
}

.layadmin-user-login-footer a {
    padding: 0 5px;
    color: rgba(0, 0, 0, .5)
}

.layadmin-user-login-footer a:hover {
    color: rgba(0, 0, 0, 1)
}

.layadmin-user-login-main[bgimg] {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05)
}

.ladmin-user-login-theme {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center
}

.ladmin-user-login-theme ul {
    display: inline-block;
    padding: 5px;
    background-color: #fff
}

.ladmin-user-login-theme ul li {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 43px;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    background-color: #f2f2f2
}

.ladmin-user-login-theme ul li:hover {
    opacity: .9
}

.laySubmit{
    width:100%;
}
@media screen and (max-width:768px) {
    .layadmin-user-login {
        padding-top: 60px
    }
    .layadmin-user-login-main {
        width: 300px
    }
    .layadmin-user-login-box {
        padding: 10px
    }
    .layadmin-user-login {
        padding-top:60%;
    }
}

.inputPosition{
    position:absolute;
    top:0;
    left:0;
    font-size:25px;
    margin: 6px;
    color: #8D8D8D;
}

.nav-title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-left: 40px;
}

.input-border {
    border: 1px solid #eee;
    border-radius: 5px;
}

