{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    ul.site-doc-icon li {
        width: 120px;
        height: 85px;
        text-align: center;
        float: left;
        border: 1px solid #eee;
    }
    ul.site-doc-icon:hover {
        cursor: pointer;
    }
    .layui-form-item .layui-input-inline.inputW{
        width:710px;
    }
    .layui-form-item .warm-color {
        color: #FF5722!important;
    }
</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <form class="layui-form" action="{:url('admin/Project/addCate')}" method="post">
                {if isset($anli_cate.id)}
                <input type="hidden" name="id" value="{$anli_cate.id}" />
                {/if}
                <div class="layui-form-item layui-col-md6">
                    <label class="layui-form-label">分类名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$anli_cate.name ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">图片title：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="title" value="{$anli_cate.title ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">元素的title</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">图片alt：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="alt" value="{$anli_cate.alt ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">元素的alt</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">排序：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="sort" value="{$anli_cate.sort ?? 0}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">请输入大于0的整数</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否显示：</label>
                    <div class="layui-input-block">
                        {if isset($anli_cate)}
                        {eq name='cate.is_show' value='1'}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示">
                        <input type="radio" name="is_show" value="2" title="隐藏" checked>
                        {/eq}
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {/if}
                    </div>
                </div>

                <div class="layui-form-item" style="margin-left: 200px">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit >保存</button>
                        <button style="margin-left: 50px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>

{/block}

{block name="script"}
<script>
    layui.use(['form'], function(){

    });
</script>
{/block}



