{extend name="extra@admin/common"}

{block name='style'}

{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="{$url}" method="post">
            {if isset($ask)}
            <input type="hidden" name="id" value="{$ask.id}" />
            {/if}
            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">问题名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="ask" lay-verify="required|ask" value="{$ask.ask ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">答案摘要：</label>
                        <div class="layui-input-block">
                            <input class="layui-input"  name="info" lay-verify="required|info"  value="{$ask.info ?? ''}" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-form-mid layui-word-aux warm-color">注意事项：此选项添加答案开头部分，文字不超过255个</div>
                    </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">答案详情：</label>
                        <div class="layui-input-block">
                            <textarea id="container" name="detail" lay-verify="required">{$sak.detail ?? ''}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片title：</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="title" value="{$menu.title ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">元素的title</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片alt：</label>
                        <div class="layui-input-block">
                            <input type="text" name="alt" lay-verify="alt" value="{$menu.alt ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">元素的alt</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">页面标题：</label>
                        <div class="layui-input-block">
                            <input type="text" name="keys" lay-verify="keys" value="{$menu.keys ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">html页面title</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">关键词：</label>
                        <div class="layui-input-block">
                            <input type="text" name="keywords" lay-verify="keywords" value="{$menu.keywords ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">html页面meta->keywords</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">页面描述：</label>
                        <div class="layui-input-block">
                            <input type="text" name="desc" lay-verify="desc"  value="{$menu.desc ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">html页面meta->description</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否显示：</label>
                <div class="layui-input-block">
                    {if isset($ask)}
                    {eq name='ask.is_show' value='1'}
                    <input type="radio" name="is_show" value="1" title="显示" checked>
                    <input type="radio" name="is_show" value="2" title="隐藏">
                    {else /}
                    <input type="radio" name="is_show" value="1" title="显示">
                    <input type="radio" name="is_show" value="2" title="隐藏" checked>
                    {/eq}
                    {else /}
                    <input type="radio" name="is_show" value="1" title="显示" checked>
                    <input type="radio" name="is_show" value="2" title="隐藏">
                    {/if}
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片路径：</label>
                        <div class="layui-input-block">
                            <input id="img" type="text" name="thumb" lay-verify="required" value="{$ask.thumb ?? ''}" readonly class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <label class="layui-form-label"></label>
                    <div class="layui-form-mid layui-word-aux warm-color">注意事项：上传路径自动填写，无需手动添加！</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">原始图片：</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-sm" id="test1">上传图片</button>
                                <div class="layui-upload-list">
                                    {if isset($ask)}
                                    <img class="layui-upload-img" src="/static/{$ask.thumb}" width="50" height="50" id="demo1">
                                    {else /}
                                    <img class="layui-upload-img" width="50" height="50" id="demo1">
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-left: 200px">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit >保存</button>
                    <button style="margin-left: 50px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>



{/block}

{block name="script"}
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;
        form.on('select(level)', function(data){
            var level = data.value;
            var url = "{:url('admin/Node/getJsonTree')}";
            $.get(url, {'level':level}, function (res) {
                if (res.suc == 0){
                    $('#pid').html('');
                    $('#pid').append(res.data);
                }
            })
        });

        form.render('select');

        //普通图片上传
        var url = '/admin/upload/upImg/type/ask';
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: url
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var name = res.data.src;
                $('#img').val(name);
                return layer.msg('上传成功', {icon: 1});
            }
        });

        var form = layui.form;
        form.verify({
            ask: function(value){
                if(value.length > 100){
                    return '问题名称不超过100个字符啊';
                }
            },
            info: function(value){
                if(value.length > 255){
                    return '答案摘要不超过255个字符啊';
                }
            },
            title: function(value){
                if(value.length > 255){
                    return 'title不超过255个字符啊';
                }
            },
            alt: function(value){
                if(value.length > 255){
                    return 'alt不超过255个字符啊';
                }
            },
            keys: function(value){
                if(value.length > 255){
                    return '标题不超过255个字符啊';
                }
            },
            keywords: function(value){
                if(value.length > 255){
                    return '关键词不超过255个字符啊';
                }
            },
            desc: function(value){
                if(value.length > 255){
                    return '描述不超过255个字符啊';
                }
            }
        });

    });

</script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
{/block}



