{extend name="extra@index/common"}

{block name='style'}
<link rel="stylesheet" href="/static/index/css/company.css" />

{/block}

{block name='section'}
<section data-fixheight="" class="qfy-row-3-5ad97adcea047469482 section no section-text-no-shadow section-inner-no-shadow section-normal blackColor" id="bit_o422s">
    <div class="section-background-overlay background-overlay grid-overlay-0 whiteBc"></div>
    <div class="container">
        <div class="row qfe_row">
            <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-3-5ad97adcea785727836 qfy-column-inner  vc_span_class  vc_span12  text-Default small-screen-undefined notfullrow" data-dw="1/1" data-fixheight="">
                <div class="column_inner borderRadius nomargin relative">
                    <div class="background-overlay grid-overlay-0 transBc"></div>
                    <div class="column_containter zIndex">
                        <div m-padding="0px 0px 7px 0px" p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_header_fsx7u" data-anitime="0.7" class="qfy-element minheigh1px qfe_text_column qfe_content_element noSectionElement">
                            <div class="qfe_wrapper">
                                <h2 class="qfy_title mobileleft titleCenter">
                                    <div class="qfy_title_image_warpper mainTitleWarp">
                                        <div class="qfy_title_inner mainTitleInner">
                                            <div class="header_title mainHeaderTitle">
                                                公司简介
                                            </div>
                                            <div class="header_subtitle mainHeaderSubTitle"></div>
                                        </div>
                                        <span style="clear:both;"></span>
                                        <span class="line-abs bottom hleft blueline"></span>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <!--图片-->
                        <!--<div id="vc_img_5ad97adcf0da0980" m-padding="47px 0px 0px 0px" p-padding="47px 0 0 0" css_animation_delay="0.5" qfyuuid="qfy_single_image_yvssq" data-anitime="0.7" class="qfy-element bitImageControlDiv imgCon">
                            <a class="bitImageAhover">
                                <div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_left">
                                    <div class="qfe_wrapper">
                                        <span></span>
                                        <img class="front_image ag_image" src="http://ccdn.goodq.top/caches/e76cf833c6181653c338caf4eab7fde7/aHR0cDovLzVhNGVkM2U2MTFiY2YudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOC8wMS85MzM3OTkwNjVjYmRmOTdkYzg0NjBiNDczNzE0MGY2Ny0xMDAweDQ1MC5qcGc_p_p100_p_3D.jpg" alt="renewable-energy" description="" data-attach-id="14555" data-title="renewable-energy" title="" src-img="" style="">
                                    </div>
                                </div>
                            </a>
                        </div>-->
                        <a class="bitImageAhover"></a>
                        <div m-padding="35px 0px 0px 0px" p-padding="35px 0 0 0" css_animation_delay="0" qfyuuid="0" class="qfy-element qfy-text qfy-text-35887 qfe_text_column qfe_content_element  mobile_fontsize wordCon">
                            <div class="qfe_wrapper">
                                <div class="wordStyle">
                                    <img src="/static/upload/ads/a02.jpg" alt="" class="aboutPic">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安一笔一画科技有限公司是一家专业从事音视频互动展项、多媒体展示技术生产研发、制作和服务的企业。互动控制和多媒体技术等多项创新型技术和标准化产品达到国际领先水平，可为客户提供项目咨询、整体设计、硬件集成、核心技术研发生产、定制加工、安装调试、售后维护、升级等一站式服务。
                                        公司下设技术研发部、工程部、人力资源部、QA质检部、销售部、财务部、售后服务部七大部门，拥有一支知识新颖、技术先进、经验丰富的高素质专业技术团队，拥有深厚质朴的企业文化底蕴；公司在多媒体电子沙盘、投影互动、增强现实AR、全息投影、幻影成像、多点雷达触控、动感4D/5D影院、虚拟仿真VR、虚拟驾驶、虚拟漫游、体感互动、电子签名、知识竞赛抢答、球幕投影、大屏幕投影融合系统、液晶拼接、三维动画制作、互动软件开发、多媒体智能中央控制系统、广播系统、音响系统、家庭影院系统、背景音乐系统等多媒体音视频展览展示技术领域积累了丰富的行业经验。
                                        西安一笔一画科技有限公司自成立以来，一直致力于为各个行业客户提供整套、专业的互动多媒体解决方案，是国内少数能从数字投影沙盘、互动控制、增强现实AR、虚拟现实、多点雷达触控、多媒体软体开发、多媒体中央控制，及计算机周边设备多方面提供整体解决方案的佼佼者。积累了丰富的研发生产技术和应用控制技术经验，多年来已承接并完成多个省市重要工程项目。广泛应用于城市规划、院校教育、酒店管理、医疗查询、地产营销、轨道交通、数字旅游、企业展厅、银行服务，科技馆，规划馆，博物馆，展览馆，科普馆、教育警示基地等行业领域。
                                    </p>
                                    <img src="/static/upload/ads/a03.jpg" alt="" class="aboutPic">
                                    <p>我们的优势：</p>
                                    <p>
                                    一 、技术创新优势
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安一笔一画科技有限公司通过永不间断的创新，追求科技与美学的完美结合。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安一笔一画科技有限公司设身于客户的立场，感其所感、求其所求，创造更多的价值与体验。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安一笔一画科技有限公司利用的互动技术及理念，联合国内外多位专家，专门为各种科技馆、博物馆、展览馆研制开发自主知识产权的核心控制器及人机交互系统。
                                    </p>
                                    <p>
                                    二、团队优势
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安一笔一画科技有限公司核心团队有多年展厅互动控制的行业经验，有丰富的软件、电子、机械设计开发经验，所有产品均为自主开发，可根据展厅实际需要定制开发，我们已有数百套人机互动控制的成功案例。将所有的想法与创意汇聚、激荡以得到最佳的方案；随时质疑、挑战以找出问题的根本原因，并且求得解答。通过创新的思考与实验，西安一笔一画科技有限公司开发出多款具有创意、异性化与实用性的产品。
                                    </p>
                                    <p>
                                    三、经验优势：
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数百套人机互动控制的案例展示，公司严格按照现代化的企业管理制度来运作，完善的质量控制措施包括：项目策划管理、现场勘测管理、产品设计管理、流程管理、产品测试和服务保障体系。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.    企业使命：致力于互动多媒体展项技术的研究与应用，以卓越的产品和服务满足顾客的需求。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.    企业品格：诚信、专一 、正直、尽责。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.    企业精神：冒险、创新、合作、敬业、学习、执着。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.    企业作风：锐意进取，追求卓越！
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.    质量理念：质量不能使企业一荣俱荣，却可以让企业一损俱损。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.    服务理念：销售只是起点，服务没有终点！
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.    科技宗旨：以客户需求为导向，以技术创新为根本。
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.    品牌理念：品牌核心价值是对技术创新和产品质量的不懈追求 。
                                    </p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.    我们懂得：脚不能达到的地方，眼睛可以达到！眼睛不能达到的地方，心梦可以达到！
                                    </p>
                                    <img src="/static/upload/ads/a01.jpg" alt="" class="aboutPic">
                                    <p>
                                    四、服务领域：
                                    </p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.    政府展厅、企业展厅、房地产展厅、城市规划馆、博物馆、科技馆；
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.    消防博物馆、安全科普馆、消防教育馆、地震科普基地 交通安全教育展览馆；
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.    应急指挥中心、中心会议室、多媒体发布厅、作战室、监控室、报告厅；
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 .   企业新品应用体验、品牌推广、儿童科学乐园、儿童活动中心展示设计；
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.    数码展区、家庭娱乐、特效影院虚拟科技乐园、主题教育馆.....
                                    </p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据场地情况、场地功能要求，前呼后应为您提供全方位的方案咨询策划、设备安装调试、技术操作培训等一系列完整的售前售后一站式综合服务。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div css_animation_delay="0" qfyuuid="qfy_header_fsx7u" data-anitime="0.7" class="qfy-element minheigh1px qfe_text_column qfe_content_element noSectionElement">
                            <div class="qfe_wrapper">
                                <h2 class="qfy_title mobileleft titleCenter">
                                    <div class="qfy_title_image_warpper mainTitleWarp">
                                        <div class="qfy_title_inner mainTitleInner">
                                            <div class="header_title mainHeaderTitle newsMainTitle">
                                                企业资质
                                            </div>
                                            <div class="header_subtitle mainHeaderSubTitle"></div>
                                        </div>
                                        <span style="clear:both;"></span>
                                        <span class="line-abs bottom hleft blueline"></span>
                                    </div>
                                </h2>
                            </div>
                        </div>

                        <div class="paddingTop">
                            <div class="bitBanner" id="banners">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {foreach $qyzz as $v}
                                        <div class="swiper-slide">
                                            <div class='item_container list-item num-0 proContent'>
                                                <div class="vc_ca_post_id qfy_item_post qfyanimate">
                                                    <div class="qfy_item_block item_block zIndex">
                                                        <div class="item_box ">
                                                            <div class='item_a_link'>
                                                                <div class="item_img">
                                                                    <img class="ag_image" src="/static/{$v.path}" alt="{$v.alt}" title="{$v.title}" />
                                                                    <div class="item_mask"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item_wrapper clearfix">
                                                                <div class="item_info clearfix">
                                                                    <div class="text_wrap">
                                                                        <div class="date_wrap show companyptitude">
                                                                            {$v.title}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/foreach}
                                    </div>
                                </div>
                                <!-- 如果需要导航按钮 -->
                                <div class="swiper-button-prev swiperBtn"></div>
                                <div class="swiper-button-next swiperBtn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>
    </div>
</section>
{/block}

{block name="script"}
<script>
    $('#banners').bind('contextmenu',function(){
        return false;
    });
    var W = $(document.body).width();
    if(W > 992){
        var mySwiper = new Swiper ('#banners .swiper-container', {
            slidesPerView : 4,
            loop:true,
            autoplay: {
                delay: 2000,//1秒切换一次
            },
            autoplayDisableOnInteraction : false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }else{
        var mySwiper1 = new Swiper ('#banners .swiper-container', {
            slidesPerView : 1,
            loop:true,
            autoplay: {
                delay: 2000,//1秒切换一次
            },
            autoplayDisableOnInteraction : false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
        var widths = $(".swiper-slide").width();
        $(".ag_image").width(widths);
    }

    $("img").attr("data-tag","imageSharePreview");
</script>
{/block}



