{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    ul.site-doc-icon li {
        width: 120px;
        height: 85px;
        text-align: center;
        float: left;
        border: 1px solid #eee;
    }
    ul.site-doc-icon:hover {
        cursor: pointer;
    }
    .layui-form-item .layui-input-inline.inputW{
        width:710px;
    }
    .layui-form-item .layui-input-inline .inputW {
        width: 710px;
    }

    .layui-form-item .warm-color {
        color: #FF5722!important;
    }
</style>
{/block}

{block name='content'}
<a type="button" href="{:url('admin/Personnel/lists')}"  class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe65c;</i>返回</a>
<hr class="layui-bg-blue">
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <form class="layui-form" action="{:url('admin/Personnel/edit')}" method="post">
                {if isset($zw.id)}
                <input type="hidden" name="id" value="{$zw.id}" />
                {/if}

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">职位名称：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="name" value="{$zw.name ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">招聘人数：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="num" value="{$zw.num ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">职位薪资：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="salary" value="{$zw.salary ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">截止日期：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" id="etime" name="endtime" value="{$zw.endtime ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">图片title：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="title" value="{$zw.title ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">元素的title</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">图片alt：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="alt" value="{$zw.alt ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">元素的alt</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">页面标题：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="keys" value="{$zw.keys ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">html页面title</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">关键词：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="keywords" value="{$zw.keywords ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">html页面meta->keywords</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">页面描述：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="desc" value="{$zw.desc ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">html页面meta->description</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否显示：</label>
                    <div class="layui-input-inline inputW">
                        {if isset($zw)}
                        {eq name='zw.is_show' value='1'}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示">
                        <input type="radio" name="is_show" value="2" title="隐藏" checked>
                        {/eq}
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {/if}
                    </div>
                </div>


                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">职位详情：</label>
                    <div class="layui-input-block">
                        <textarea id="container" name="detail" lay-verify="required">{$zw.detail ?? ''}</textarea>
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit >保存</button>
                        <button style="margin-left: 100px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use(['form','laydate'], function(){
        var laydate = layui.laydate;
        //日期时间选择器
        laydate.render({
            elem: '#etime'
            ,type: 'datetime'
            ,theme: 'molv'
            ,format: 'yyyy-M-d'
        });
    });

</script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
{/block}



