<!---------footer-------->
<section data-fixheight="" class="qfy-row-14-5ad80645d5a09875313 section no section-text-no-shadow section-inner-no-shadow section-normal footerSection" id="bit_wnlr2">
    <div class="section-background-overlay background-overlay grid-overlay-0 footerBC"></div>
    <div class="container">
        <div class="row qfe_row">
            <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="1" data-delay="" class=" " data-dw="1/1" data-fixheight="">
                <div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;" class="column_inner ">
                    <div class="background-overlay grid-overlay-0" style="background-color:transparent;width:100%;"></div>
                    <div class="column_containter" style="z-index:3;position:relative;">
                        <section data-fixheight="" class="qfy-row-15-5ad80645d66c8399123 section bothfull section-text-no-shadow section-inner-no-shadow section-normal footers">
                            <div class="section-background-overlay background-overlay grid-overlay-0 footersTrans"></div>
                            <div class="container">
                                <div class="row qfe_row">
                                    <!--=======关于我们=============-->
                                    <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="0.1" class="qfy-column-21-5ad80645d6910993373 qfy-column-inner vc_span_class  vc_span3 text-default small-screen-default notfullrow" data-dw="1/4" data-fixheight="">
                                        <div style=";position:relative;" class="column_inner ">
                                            <div class="background-overlay grid-overlay-  footersTrans" style=""></div>
                                            <div class="column_containter" style="z-index:3;position:relative;">
                                                <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 4px" css_animation_delay="0" qfyuuid="qfy_column_text_fvihl" data-anitime='0.7' class="qfy-element qfy-text qfy-text-88079 qfe_text_column qfe_content_element titleDiv">
                                                    <div class="qfe_wrapper">
                                                        <div class="title">
                                                            <span class="titleSpan">
                                                               项目案例
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="footerWord">

                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-21-5ad80645d6910993373 qfy-column-inner  vc_span_class  vc_span3  text-default small-screen-default notfullrow" data-dw="1/4" data-fixheight="">
                                        <div style=";position:relative;" class="column_inner ">
                                            <div class=" background-overlay grid-overlay-" style="background-color:transparent;width:100%;"></div>
                                            <div class="column_containter" style="z-index:3;position:relative;">
                                                <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 4px" css_animation_delay="0" qfyuuid="qfy_column_text_fvihl" data-anitime='0.7' class="qfy-element qfy-text qfy-text-88079 qfe_text_column qfe_content_element titleDiv">
                                                    <div class="qfe_wrapper">
                                                        <div style="width:50%;float: left;">
                                                            <div class="titleSpan">
                                                                服务项目
                                                            </div>
                                                            {foreach $products1 as $v}
                                                            <div class="footerWord">
                                                                <a href="{:url('index/pro/show', ['id' => $v['id']])}" alt="{$v.alt}" title="{$v.title}">
                                                                    {$v.name}
                                                                </a>
                                                            </div>
                                                            {/foreach}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-21-5ad80645d6910993373 qfy-column-inner  vc_span_class  vc_span3  text-default small-screen-default notfullrow" data-dw="1/4" data-fixheight="">
                                        <div style=";position:relative;" class="column_inner ">
                                            <div class=" background-overlay grid-overlay-" style="background-color:transparent;width:100%;"></div>
                                            <div class="column_containter" style="z-index:3;position:relative;">
                                                <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 4px" css_animation_delay="0" qfyuuid="qfy_column_text_fvihl" data-anitime='0.7' class="qfy-element qfy-text qfy-text-88079 qfe_text_column qfe_content_element titleDiv">
                                                    <div class="qfe_wrapper">
                                                        <div style="width:50%;float: left;">
                                                            <div class="titleSpan">
                                                                新闻中心
                                                            </div>
                                                            {foreach $products1 as $v}
                                                            <div class="footerWord">
                                                                <a href="{:url('index/pro/show', ['id' => $v['id']])}" alt="{$v.alt}" title="{$v.title}">
                                                                    {$v.name}
                                                                </a>
                                                            </div>
                                                            {/foreach}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-21-5ad80645d6910993373 qfy-column-inner  vc_span_class  vc_span3  text-default small-screen-default notfullrow" data-dw="1/4" data-fixheight="">
                                        <div style="position:relative;" class="column_inner ">
                                            <div class=" background-overlay grid-overlay-" style="background-color:transparent;width:100%;"></div>
                                            <div class="column_containter" style="z-index:3;position:relative;">
                                                <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 4px" css_animation_delay="0" qfyuuid="qfy_column_text_fvihl" data-anitime='0.7' class="qfy-element qfy-text qfy-text-88079 qfe_text_column qfe_content_element  " style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:4px;border-radius:0px;">
                                                    <div class="qfe_wrapper titleDiv">
                                                        <div class="titleSpan">关于我们</div>
                                                        <div class="footerWord">
                                                            公司名称：{$contact.company ?? ''}
                                                        </div>
                                                        <div class="footerWord">
                                                            地址：{$contact.address ?? ''}
                                                        </div>
                                                        <div class="footerWord">
                                                            座机：{$contact.tel ?? ''}
                                                        </div>
                                                        <div class="footerWord">
                                                            传真：{$contact.cz ?? ''}
                                                        </div>
                                                        <div class="footerWord">
                                                            邮箱：{$contact.email ?? ''}
                                                        </div>
                                                        <div class="footerWord">
                                                            负责人：{$contact.fzr ?? ''}
                                                        </div>
                                                        <div class="footerWord">
                                                            手机号码：{$contact.phone ?? ''}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wf-mobile-hidden qfy-clumn-clear" style="clear:both;"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="width:100%;height:40px;line-height:40px;background: #222;color：#aaa;text-align: center;font-size:12px;">
    陕ICP备16018587号
    &nbsp;
    关键字关键字关键字关键字关键字关键字
</section>