{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    ul.site-doc-icon li {
        width: 120px;
        height: 85px;
        text-align: center;
        float: left;
        border: 1px solid #eee;
    }
    ul.site-doc-icon:hover {
        cursor: pointer;
    }
    .layui-form-item .layui-input-inline.inputW{
        width:710px;
    }
    .layui-form-item .warm-color {
        color: #FF5722!important;
    }
</style>
{/block}

{block name='content'}
<a type="button" href="{:url('admin/Pro/cateList')}"  class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe65c;</i>返回</a>
<hr class="layui-bg-blue">
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <form class="layui-form" action="{:url('admin/pro/editCate')}" method="post">
                {if isset($pro_cate.id)}
                <input type="hidden" name="id" value="{$pro_cate.id}" />
                {/if}
                <input type="hidden" name="thumb" value="{$pro_cate.thumb ?? ''}" id="img">
                <div class="layui-form-item layui-col-md6">
                    <label class="layui-form-label">分类名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$pro_cate.name ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">图片title：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="title" value="{$pro_cate.title ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">元素的title</div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">图片alt：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="alt" value="{$pro_cate.alt ?? ''}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux warm-color">元素的alt</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否显示：</label>
                    <div class="layui-input-block">
                        {if isset($pro_cate)}
                        {eq name='pro_cate.is_show' value='1'}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示">
                        <input type="radio" name="is_show" value="2" title="隐藏" checked>
                        {/eq}
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {/if}
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">服务描述：</label>
                    <div class="layui-input-block">
                        <textarea name="info" lay-verify="required" rows="2" cols="120">{$pro_cate.info ?? ''}</textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">缩略图：</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-sm" id="test1">上传图片</button>
                            <div class="layui-upload-list">
                                {if isset($pro_cate)}
                                <img class="layui-upload-img" src="/static/{$pro_cate.thumb}" width="50" height="50" id="demo1">
                                {else /}
                                <img class="layui-upload-img" width="50" height="50" id="demo1">
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-left: 200px">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit >保存</button>
                        <button style="margin-left: 100px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use(['form','upload'], function(){
        var $ = layui.jquery;
        var upload = layui.upload;

        //普通图片上传
        var url = '/admin/upload/upImg/type/thumb';
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: url
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var name = res.data.src;
                $('#img').val(name);
                return layer.msg('上传成功', {icon: 1});
            }
        });

    });

</script>
{/block}



