{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>

</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <thead>
            <tr>
                <th>排序</th>
                <th>Id</th>
                <th>原始图片</th>
                <th>服务名称</th>
                <th>服务分类</th>
                <th>是否显示</th>
                <th>添加时间</th>
                <th>图片title</th>
                <th>图片alt</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $v}
            <tr>
                <td><input onblur="sort('{$v.id}', this.value, 'pro')" id="sort-{$v.id}" value="{$v.sort}" type="text" style="width: 40px;height: 20px;text-align: center" /></td>
                <td>{$v.id ?? ''}</td>
                <td><img src="/static/{$v.thumb}" width="100" height="60" /></td>
                <td>{$v.name ?? ''}</td>
                <td>{:getVal('pro_cate.name.' . $v.pid)}</td>
                {eq name='v.is_show' value='1'}
                <td>显示</td>
                {else /}
                <td>隐藏</td>
                {/eq}
                <td>{$v.addtime|date='Y-m-d', ###}</td>
                <td>{if strlen($v.title) > 10}
                    {$v.title|mb_substr=0,10,'UTF-8'} ...
                    {else /}
                    {$v.title}
                    {/if}
                </td>
                <td>
                    {if strlen($v.alt) > 10}
                    {$v.title|mb_substr=0,10,'UTF-8'} ...
                    {else /}
                    {$v.title}
                    {/if}
                </td>
                <td>
                    <a href="{:url('admin/pro/edit',['id' => $v['id']])}" style="color: #1E9FFF;cursor: pointer">
                        <i class="layui-icon">&#xe642;</i>
                        编辑
                    </a>  |
                    <a onclick="del('{$v.id}')" style="color: #FF5722;cursor: pointer">
                        <i class="layui-icon">&#xe640;</i>
                        删除
                    </a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="pull-right">
            {$page ?? ''}
        </div>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use('table', function(){

    });

    function del(id) {
        var $ = layui.jquery;
        layer.confirm('确定删除这条数据吗?', {icon: 2, title:'确认操作提示提示', skin:'layui-layer-lan'}, function(index){
            var url = "{:url('admin/pro/del')}";
            $.get(url, {"id":id}, function (res) {
                layer.close(index);
                if (res.suc == 0){
                    layer.msg('删除成功', {icon: 1}, function () {
                        location.reload();
                    });
                }else {
                    layer.msg('删除成功', {icon: 2});
                }
            })
        });
    }
</script>
{/block}



