{extend name="extra@index/common"}

{block name='style'}
<link rel="stylesheet" href="/static/index/css/news.css" />
{/block}

{block name='section'}
<section data-fixheight="" class="qfy-row-2-5add72f48d81b82628 section no section-text-no-shadow section-inner-no-shadow section-normal newsDetialSection" id="bit_c5v22">
    <div class="section-background-overlay background-overlay grid-overlay-0 Trans"></div>

    <div class="container">
        <div class="row qfe_row">
            <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-2-5add72f48dd4f491103 qfy-column-inner  vc_span_class  vc_span9  text-Default small-screen-undefined notfullrow" data-dw="3/4" data-fixheight="">
                <div class="column_inner nomargin borderRadius relative">
                    <div class=" background-overlay grid-overlay-0 transBc"></div>
                    <div class="column_containter zIndex">
                        <div id="vc_header_5add72f48e438589" m-padding="0px 0px 20px 0px" p-padding="0 0 20px 0" css_animation_delay="0" qfyuuid="qfy_column_text_header_smrs7" data-anitime="0.7" class="qfy-element minheigh1px qfe_text_column qfe_content_element noSectionElement newsDetialElement">
                            <div class="qfe_wrapper">
                                <h1 class="qfy_title left mobileleft" style="text-align: center">
                                    <div class="qfy_title_inner mainTitleInner">
                                        <div class="header_title newsDetialTitle">
                                            {$news.name ?? ''}
                                        </div>
                                    </div>
                                    <span class="clear"></span>
                                </h1>
                            </div>
                        </div>
                        <!--==发布日期===-->
                        <div m-padding="0px 0px 19px 0px" p-padding="0 0 19px 0" css_animation_delay="0" qfyuuid="qfy_column_text_view_pldre" data-anitime="0.7" class="qfy-element qfy-text qfy-text-11961 qfe_text_column qfe_content_element  mobile_fontsize dateCon">
                            <div class="qfe_wrapper ">
                                <span>发布日期：</span>{$news.addtime|date='Y-m-d',###}<span style="margin-left: 15px;">发布人：</span>{$news.fbr}
                            </div>
                        </div>
                        <div m-padding="11px 0px 23px 0px" p-padding="11px 0 23px 0" css_animation_delay="0" qfyuuid="qfy_column_text_view_g6yyg" data-anitime="0.7" class="qfy-element qfy-text qfy-text-22859 wrapCon">
                            <div class="qfe_wrapper">
                                <section data-fixheight="" class="qfy-row-3-5add72f48f639150268 section no section-text-no-shadow section-inner-no-shadow section-normal wrapConSection">
                                    <div class="section-background-overlay background-overlay grid-overlay-0 whiteBc"></div>
                                    <div class="container">
                                        <div class="row qfe_row">
                                            <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-3-5add72f48fc24940913 qfy-column-inner  vc_span12  text-default small-screen-undefined fullrow" data-dw="1/1" data-fixheight="">
                                                <div class="column_inner relative">
                                                    <div class=" background-overlay grid-overlay- transBc"></div>
                                                    <div class="column_containter zIndex">
                                                        <div m-padding="0px 0px 0px 0px" p-padding="0px 0px 0px 0px" css_animation_delay="0" qfyuuid="0" class="qfy-element qfy-text qfy-text-86517 qfe_text_column qfe_content_element  mobile_fontsize textContent">
                                                            <div class="qfe_wrapper">
                                                                <div>
                                                                    <span class="articleSpan">
                                                                        {$news.detail}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <!--========上下翻页=======-->
                        <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_prenext_tq83q" class="qfy-prenext  qfy-element  normallayout borderrightnone vcprenext-5add72f490cce1074 pagePreNext">
                            <div class="prenext_inner">
                                <div class="pre_inner prePadding">
                                    <span class="">上一篇</span>
                                    {empty name='pre'}
                                    <span style="font-size: 14px;color: #606060;">
                                        没有了
                                    </span>
                                    {else /}
                                    <a href="{:url('index/news/show',['id' => $pre['id']])}" title="{$v.title}" alt="{$v.alt}" class="pre_a">
                                        <span class="title">
                                            {$pre.name ?? ''}
                                        </span>
                                    </a>
                                    {/empty}
                                </div>

                            </div>
                        </div>
                        <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_prenext_tq83q" class="qfy-prenext  qfy-element  normallayout borderrightnone vcprenext-5add72f490cce1074 pagePreNext">
                            <div class="prenext_inner">
                                <div class="pre_inner prePadding">
                                    <span class="">下一篇</span>
                                    {empty name='next'}
                                    <span style="font-size: 14px;color: #606060;">
                                        没有了
                                    </span>
                                    {else /}
                                    <a href="{:url('index/news/show',['id' => $next['id']])}" title="{$v.title}" alt="{$v.alt}" class="pre_a">
                                    <span class="title ">
                                       {$next.name ?? ''}
                                    </span>
                                    </a>
                                    {/empty}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-duration="" data-delay="" class=" qfy-column-4-5add72f49f066212942 qfy-column-inner  vc_span_class  vc_span3  text-default small-screen-default notfullrow" data-dw="1/4" data-fixheight="">
                <div class="column_inner relative">
                    <div class=" background-overlay grid-overlay- transBc"></div>
                    <div class="column_containter zIndex">
                        <div id="" data-loading="" data-loading-w="" data-open="" data-post="post" data-cate=" " m-padding="0px 0px 0px 0px" p-padding="0 0 0 0" css_animation_delay="0" qfyuuid="qfy_posts_grid_zwd1u" class="qfy-element  UUID-POSTS-5add72f4b4e47179835 qfe_teaser_grid qfe_content_element  qfe_grid columns_count_1 columns_count_1 qfe_teaser_grid_post nomargin noPadding">
                            <div class="qfe_wrapper">
                                <div class="teaser_grid_container noanimale clear" data-type="post" data-cate=" " data-pcate="">
                                    <ul style="min-height:60px;" class="qfe_thumbnails qfe_thumbnails-fluid vc_clearfix  post_blog " data-layout-mode="fitRows">
                                        <h2 class="dashTitle">公司新闻</h2>
                                        <!--==========实时新闻   循环=================-->
                                        {foreach $gs as $v}
                                        <li data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-delay="0" data-duration="" class="newsLis isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-1 grid-cat-2">
                                            <div class="itembody  itempcbody">
                                                <div class="blog-content wf-td blogContent">
                                                    <div class="post-title postTltle">
                                                        <a href="{:url('index/news/show',['id' => $v['id']])}" title="{$v.title}" alt="{$v.alt}" class="bitImageAhover  linkTitle">
                                                            {if strlen($v.name) > 15}
                                                            {$v.name|mb_substr=0,15,'UTF-8'} ...
                                                            {else /}
                                                            {$v.name|mb_substr=0,15,'UTF-8'}
                                                            {/if}
                                                        </a>
                                                    </div>
                                                    <div class="post-comment newsPostComment">
                                                        <span>
                                                            <span class="post_date">
                                                                发布日期：
                                                                <span data-date="2017-06-01 14:29:23" class="post_date_text">
                                                                    {$v.addtime|date='Y-m-d',###}
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="clear"></div>
                                        {/foreach}

                                        <h2 class="dashTitle">行业新闻</h2>
                                        <!--===========热点新闻       循环==================-->
                                        {foreach $hy as $v}
                                        <li data-animaleinbegin="bottom-in-view" data-animalename="qfyfadeInUp" data-delay="0" data-duration="" class="newsLis isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-1 grid-cat-2">
                                            <div class="itembody  itempcbody">
                                                <div class="blog-content wf-td blogContent">
                                                    <div class="post-title postTltle">
                                                        <a href="{:url('index/news/show',['id' => $v['id']])}" title="{$v.title}" alt="{$v.alt}" class="bitImageAhover linkTitle">
                                                            {if strlen($v.name) > 15}
                                                            {$v.name|mb_substr=0,15,'UTF-8'} ...
                                                            {else /}
                                                            {$v.name|mb_substr=0,15,'UTF-8'}
                                                            {/if}
                                                        </a>
                                                    </div>
                                                    <div class="post-comment newsPostComment">
                                                        <span>
                                                            <span class="post_date">
                                                                发布日期：
                                                                <span data-date="2017-06-01 14:29:23" class="post_date_text">
                                                                    {$v.addtime|date='Y-m-d',###}
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="clear"></div>
                                        {/foreach}
                                    </ul>

                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wf-mobile-hidden qfy-clumn-clear clear"></div>
        </div>
    </div>
</section>
{/block}
{block name='script'}
<script>
    $("img").attr("data-tag","imageSharePreview");
</script>
{/block}





