{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    ul.site-doc-icon li {
        width: 120px;
        height: 85px;
        text-align: center;
        float: left;
        border: 1px solid #eee;
    }
    ul.site-doc-icon:hover {
        cursor: pointer;
    }
    .layui-form-item .layui-input-inline.inputW{
        width:710px;
    }
    .layui-form-item .layui-input-inline .inputW {
        width: 710px;
    }

    .layui-form-item .warm-color {
        color: #FF5722!important;
    }
</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <form class="layui-form" action="{:url('admin/Conf/contact')}" method="post">
                {if isset($contact)}
                <input type="hidden" name="id" value="{$contact.id}" />
                {/if}

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">公司名称：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="company" value="{$contact.company ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">公司地址：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="address" value="{$contact.address ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">公司座机：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="tel" value="{$contact.tel ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">公司传真：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="cz" value="{$contact.cz ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">公司邮箱：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="email" value="{$contact.email ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">负责人：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="fzr" value="{$contact.fzr ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md9">
                    <label class="layui-form-label">联系号码：</label>
                    <div class="layui-input-inline inputW">
                        <input type="text" name="phone" value="{$contact.phone ?? ''}" class="layui-input" lay-verify="required">
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit >保存</button>
                        <button style="margin-left: 100px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use(['form'], function(){

    });

</script>
<!-- 配置文件 -->

{/block}



