{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>

</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="{:url('admin/Conf/contact')}" method="post">
            {if isset($contact)}
            <input type="hidden" name="id" value="{$contact.id}" />
            {/if}

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司名称：</label>
                        <div class="layui-input-block">
                            <input placeholder="请输入名称，不超过50个字符..." type="text" name="company" value="{$contact.company ?? ''}" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司地址：</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入地址，不超过50个字符..." name="address" value="{$contact.address ?? ''}" class="layui-input" lay-verify="required|address">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司座机：</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入座机，不超过50个字符..." name="tel" value="{$contact.tel ?? ''}" class="layui-input" lay-verify="required|tel">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司传真：</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入传真，不超过50个字符..." name="cz" value="{$contact.cz ?? ''}" class="layui-input" lay-verify="required|cz">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司邮箱：</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入正确的邮箱格式..." name="email" value="{$contact.email ?? ''}" class="layui-input" lay-verify="required|email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">负责人：</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入负责人，不超过50个字符..." name="fzr" value="{$contact.fzr ?? ''}" class="layui-input" lay-verify="required|fzr">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系号码：</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入正确的手机号码格式..." name="phone" value="{$contact.phone ?? ''}" class="layui-input" lay-verify="required|phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司描述：</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入描述，不超过255个字符..." rows="3" type="text" name="desc" lay-verify="desc" class="layui-textarea">{$contact.desc ?? ''}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-left: 200px">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit >保存</button>
                    <button style="margin-left: 60px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use(['form'], function(){
        var form = layui.form;
        form.verify({
            company: function(value){
                if(value.length > 50){
                    return '公司名称不超过50个字符啊';
                }
            },
            address: function(value){
                if(value.length > 50){
                    return '地址不超过50个字符啊';
                }
            },
            tel: function(value){
                if(value.length > 50){
                    return '号码个数不超过50个字符啊';
                }
            },
            fzr: function(value){
                if(value.length > 50){
                    return '负责人不超过50个字符啊';
                }
            },
            desc: function(value){
                if(value.length > 255){
                    return '描述不超过255个字符啊';
                }
            }
        });
    });

</script>
<!-- 配置文件 -->

{/block}



