{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>

</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="{$url}" method="post">
            {if isset($link)}
            <input type="hidden" name="id" value="{$link.id}" />
            {/if}
            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">连接名称：</label>
                        <div class="layui-input-block">
                            <input placeholder="请输入名称,不超过50个字符..." type="text" name="name" value="{$link.name ?? ''}" class="layui-input" lay-verify="required|name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">链接地址：</label>
                        <div class="layui-input-block">
                            <input placeholder="请输入链接地址,不超过50个字符。格式：https://www.examble.com 或 http://www.examble.com..." type="text" name="url" value="{$link.url ?? ''}" class="layui-input" lay-verify="required|url">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片title：</label>
                        <div class="layui-input-block">
                            <input placeholder="{:config('web.T')}"  type="text" name="title" lay-verify="title" value="{$link.title ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片alt：</label>
                        <div class="layui-input-block">
                            <input placeholder="{:config('web.A')}"  type="text" name="alt" lay-verify="alt" value="{$link.alt ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否显示：</label>
                        <div class="layui-input-block">
                            {if isset($link)}
                            {eq name='link.is_show' value='1'}
                            <input type="radio" name="is_show" value="1" title="显示" checked>
                            <input type="radio" name="is_show" value="2" title="隐藏">
                            {else /}
                            <input type="radio" name="is_show" value="1" title="显示">
                            <input type="radio" name="is_show" value="2" title="隐藏" checked>
                            {/eq}
                            {else /}
                            <input type="radio" name="is_show" value="1" title="显示" checked>
                            <input type="radio" name="is_show" value="2" title="隐藏">
                            {/if}
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片路径：</label>
                        <div class="layui-input-block">
                            <input placeholder="请输入图片路径..."  id="img" type="text" name="thumb" lay-verify="required" value="{$link.thumb ?? ''}" readonly class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">原始图片：</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-sm" id="test1">上传图片</button>
                                <div class="layui-upload-list">
                                    {if isset($link)}
                                    <img class="layui-upload-img" src="/static/{$link.thumb}" width="50" height="50" id="demo1">
                                    {else /}
                                    <img class="layui-upload-img" width="50" height="50" id="demo1">
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item" style="margin-left: 200px">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit >保存</button>
                    <button style="margin-left: 50px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>



{/block}

{block name="script"}
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;

        //普通图片上传
        var url = '/admin/upload/upImg/type/link';
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: url
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var name = res.data.src;
                $('#img').val(name);
                return layer.msg('上传成功', {icon: 1});
            }
        });

        var form = layui.form;
        form.verify({
            name: function(value){
                if(value.length > 50){
                    return '名称不超过50个字符啊';
                }
            },
            title: function(value){
                if(value.length > 255){
                    return 'title不超过255个字符啊';
                }
            },
            alt: function(value){
                if(value.length > 255){
                    return 'alt不超过255个字符啊';
                }
            }
        });

    });

</script>

{/block}



