<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <link rel="stylesheet" href="/static/plugs/layui/css/layui.css">
    <script src="/static/plugs/layui/layui.js"></script>
    <meta charset="UTF-8">
    <title>添加展厅</title>
</head>

<body>
<form style="margin: 50px 100px 0 100px" class="layui-form" action="{:url('admin/exhib/add')}" method="post">
    <input type="hidden" name="thumb" value="" id="img">
    <div class="layui-form-item">
        <label class="layui-form-label">展厅名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">title</label>
        <div class="layui-input-block">
            <input type="text" name="title" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">alt</label>
        <div class="layui-input-inline">
            <input type="text" name="alt" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="margin-bottom: 300px;">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <select name="pid" lay-verify="required" lay-search>
                <option value=""></option>
                {foreach $cate as $v}
                <option value="{$v.id}">{$v.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">展厅详情</label>
        <div class="layui-input-block">
            <textarea id="container" name="detail"></textarea>
        </div>

    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test1">上传图片</button>
        <div class="layui-upload-list">
            <img class="layui-upload-img" width="50" height="50" id="demo1">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
        </div>
    </div>
</form>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form;
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var url = "{:url('admin/upload/upImg/type/exhib')}";
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: url
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var name = res.data.src;
                $('#img').val(name);
                return layer.msg('上传成功', {icon: 1});
            }
        });
    });


</script>
<!-- 加载编辑器的容器 -->

</body>

</html>