{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    ul.site-doc-icon li {
        width: 120px;
        height: 85px;
        text-align: center;
        float: left;
        border: 1px solid #eee;
    }
    ul.site-doc-icon:hover {
        cursor: pointer;
    }


    .warm-color {
        color: #FF5722!important;
        margin-left: 10px;
    }
</style>
{/block}

{block name='content'}
<a type="button" href="{:url('admin/Menu/lists')}"  class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe65c;</i>返回</a>
<hr class="layui-bg-blue">
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="{url}" method="post">
            {if isset($menu)}
            <input type="hidden" name="id" value="{$menu.id}" />
            {/if}
            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称：</label>
                        <div class="layui-input-block ">
                            <input type="text" name="name" lay-verify="required|name" value="{$menu.name ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片title：</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="title" value="{$menu.title ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">元素的title</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片alt：</label>
                        <div class="layui-input-block">
                            <input type="text" name="alt" lay-verify="alt" value="{$menu.alt ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">元素的alt</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">页面标题：</label>
                        <div class="layui-input-block">
                            <input type="text" name="keys" lay-verify="keys" value="{$menu.keys ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">html页面title</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">关键词：</label>
                        <div class="layui-input-block">
                            <input type="text" name="keywords" lay-verify="keywords" value="{$menu.keywords ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">html页面meta->keywords</div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">页面描述：</label>
                        <div class="layui-input-block">
                            <input type="text" name="desc" lay-verify="desc"  value="{$menu.desc ?? ''}" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm2 layui-col-md2">
                    <div class="layui-form-mid layui-word-aux warm-color">html页面meta->description</div>
                </div>
            </div>


            <div class="layui-row">
                <div class="layui-col-sm9 layui-col-md8">
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否显示：</label>
                        <div class="layui-input-block">
                            {if isset($menu)}
                            {eq name='menu.is_show' value='1'}
                            <input type="radio" name="is_show" value="1" title="显示" checked>
                            <input type="radio" name="is_show" value="2" title="隐藏">
                            {else /}
                            <input type="radio" name="is_show" value="1" title="显示">
                            <input type="radio" name="is_show" value="2" title="隐藏" checked>
                            {/eq}
                            {else /}
                            <input type="radio" name="is_show" value="1" title="显示" checked>
                            <input type="radio" name="is_show" value="2" title="隐藏">
                            {/if}
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-left: 200px">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit >保存</button>
                    <button style="margin-left: 50px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use(['form'], function(){
        var form = layui.form;
        form.verify({
            name: function(value){
                if(value.length > 5){
                    return '菜单名称不超过5个字符啊';
                }
            },
            title: function(value){
                if(value.length > 255){
                    return 'title不超过255个字符啊';
                }
            },
            alt: function(value){
                if(value.length > 255){
                    return 'alt不超过255个字符啊';
                }
            },
            keys: function(value){
                if(value.length > 255){
                    return '标题不超过255个字符啊';
                }
            },
            keywords: function(value){
                if(value.length > 255){
                    return '关键词不超过255个字符啊';
                }
            },
            desc: function(value){
                if(value.length > 255){
                    return '描述不超过255个字符啊';
                }
            }
        });
    });

</script>
{/block}



