{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    ul.site-doc-icon li {
        width: 120px;
        height: 85px;
        text-align: center;
        float: left;
        border: 1px solid #eee;
    }
    ul.site-doc-icon:hover {
        cursor: pointer;
    }
    table,table tr th,.layui-table th, .layui-table td{
        text-align: center;
    }
    .pull-right {
        float: right;
    }
</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <thead>
            <tr>
                <th>排序</th>
                <th>Id</th>
                <th>菜单名称</th>
                <th style="text-align: left;width: 160px">菜单连接</th>
                <th>图片title</th>
                <th>图片alt</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $v}
            <tr>
                <td><input onblur="changSort('{$v.id}',this.value)" id="sort" value="{$v.sort}" type="text" style="width: 40px;height: 20px;text-align: center" /></td>
                <td>{$v.id ?? ''}</td>
                <td>{$v.name ?? ''}</td>
                <td style="text-align: left;width: 160px">{$v.url ?? ''}</td>

                <td>{if strlen($v.alt) > 20}
                    {$v.alt|mb_substr=0,20,'UTF-8'} ...
                    {else /}
                    {$v.alt}
                    {/if}
                </td>

                <td>{if strlen($v.title) > 20}
                    {$v.title|mb_substr=0,20,'UTF-8'} ...
                    {else /}
                    {$v.title}
                    {/if}
                </td>

                {eq name='v.is_show' value='1'}
                <td>显示</td>
                {else /}
                <td>隐藏</td>
                {/eq}

                <td>
                    <a href="{:url('admin/Menu/edit',['id' => $v['id']])}" style="color: #1E9FFF;cursor: pointer">
                        <i class="layui-icon">&#xe642;</i>
                        编辑
                    </a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="pull-right">
            {$page ?? ''}
        </div>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use('table', function(){

    });

    function del(id) {
        var $ = layui.jquery;
        layer.confirm('确定删除这条数据吗?', {icon: 2, title:'确认操作提示提示', skin:'layui-layer-lan'}, function(index){
            var url = "{:url('admin/Menu/del')}";
            $.get(url, {"id":id}, function (res) {
                layer.close(index);
                if (res.suc == 0){
                    layer.msg('删除成功', {icon: 1}, function () {
                        location.reload();
                    });
                }else {
                    layer.msg('删除成功', {icon: 2});
                }
            })
        });
    }

    function changSort(id, val) {
        var $ = layui.jquery;
        var url = "{:url('admin/Menu/sort')}";
        $.get(url, {"id":id,"val":val}, function (res) {
            if (res.suc == 0){
                layer.msg('数据已被修改');
            }
        })
    }

</script>
{/block}



