{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    .mark {
        font-size: 16px;
        color: red;
        max-width: 800px;
        overflow: hidden;
    }
</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="{$url}" method="get">
            <div class="layui-form-item pull-right">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" value="{$Think.get.name}" placeholder="请输入用户名" class="layui-input">
                </div>
                <label class="layui-form-label">时间范围</label>
                <div class="layui-input-inline">
                    <input id="timerange" type="text" name="time" value="{$Think.get.time}" readonly  placeholder="请选择时间" class="layui-input">
                </div>
                <button class="layui-btn" lay-submit lay-filter="formDemo">
                    <i class="layui-icon">&#xe615;</i>
                    搜索
                </button>
            </div>
            <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户账号</th>
                <th>用户昵称</th>
                <th>数量/条</th>
                <th>详细清单</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="v"}
            <tr>
                <td>{$i}</td>
                <td>{:getVal('admin_user.name.' . $v.uid)}</td>
                <td>{:getVal('admin_user.nc.' . $v.uid)}</td>
                <td class="mark">{$v.num}</td>
                <td>
                    <table style="width: 100%">
                        <thead>
                        <tr>
                            <th>操作名称</th>
                            <th>数量/条</th>
                            <th>文章记录id</th>
                        </tr>
                        </thead>
                        {foreach $v.rids as $k => $lm}
                        <tr>
                            <td style="width: 15%">添加{:getLm($k)} </td>
                            <td style="width: 15%" class="mark">{:count($lm)}</td>
                            <td class="mark" title="文章id：{:implode(',',$lm)}">{:implode(',',$lm)}</td>
                        </tr>
                        {/foreach}
                    </table>
                </td>
                <td>
                    <a href="javascript:void(0)" style="color: #1E9FFF;cursor: pointer">
                        <i class="layui-icon">&#xe615;</i>
                        查看绩效
                    </a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        </form>
    </div>
</fieldset>
<fieldset class="layui-elem-field">
    <legend>数据统计</legend>
    <div class="layui-field-box">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" action="{$url}" method="get">
                    <div class="layui-form-item pull-right">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="uname" value="{$Think.get.uname}" placeholder="请输入用户名" class="layui-input">
                        </div>
                        <button class="layui-btn" lay-submit lay-filter="formDemo">
                            <i class="layui-icon">&#xe615;</i>
                            搜索
                        </button>
                    </div>
                </form>
                <div id="bar1" style="height: 500px;width: 100%;"></div>
            </div>
        </div>
        <div class="layui-row" style="margin-top: 30px">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <form class="layui-form" action="{$url}" method="get">
                    <div class="layui-form-item pull-right">
                        <label class="layui-form-label">时间范围</label>
                        <div class="layui-input-inline">
                            <input id="timerange2" type="text" name="time2" value="{$Think.get.time2}" readonly  placeholder="请选择时间" class="layui-input">
                        </div>
                        <button class="layui-btn" lay-submit lay-filter="formDemo">
                            <i class="layui-icon">&#xe615;</i>
                            搜索
                        </button>
                    </div>
                </form>
                <div id="bar2" style="height: 500px;width: 100%;"></div>
            </div>
        </div>
    </div>
</fieldset>


{/block}

{block name="script"}
<script src="/static/plugs/echarts/echarts.common.min.js"></script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#timerange'
            ,type: 'date'
            ,range: '~'
            ,theme: 'molv'
        });
        laydate.render({
            elem: '#timerange2'
            ,type: 'date'
            ,range: '~'
            ,theme: 'molv'
        });
    });

    var myChart1 = echarts.init(document.getElementById('bar1'), 'shine');
    var colors = ['#f5317f', '#00924c', '#ffbf00'];
    var data1 = JSON.parse('{$json1}');
    option = {
        color: colors,
        title: {
            text: '最近30天用户添加数量统计',
            x: 'left'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'cross' // 默认为直线，可选为：'line' | 'shadow' | 'cross'
            }
        },
        legend: {
            data: ['新闻', '案例','产品', '问答', '评论', '友链', '招聘'],
            x: 'center'
        },
        grid: {
            left: '3%',
            right: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            data: data1['day'],
            axisTick: {
                alignWithLabel: true
            }
        }],
        yAxis: [
            {
                name: '用户添加量',
                type: 'value',
                position: 'left',
                nameLocation:"middle",
                nameGap:30,
                axisLine: {
                    lineStyle: {
                        color: "#F5317F"
                    }
                },
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '添加新闻',
                type: 'line',
                data: data1['n1']
            },
            {
                name: '添加案例',
                type: 'line',
                data: data1['n2']
            },
            {
                name: '添加产品',
                type: 'line',
                data: data1['n3']
            },
            {
                name: '添加问答',
                type: 'line',
                data: data1['n4']
            },
            {
                name: '添加评论',
                type: 'line',
                data: data1['n5']
            },
            {
                name: '添加友链',
                type: 'line',
                data: data1['n6']
            },
            {
                name: '添加招聘',
                type: 'line',
                data: data1['n7']
            }
        ]
    };
    myChart1.setOption(option);
</script>
{/block}



