{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>
    .mark {
        font-size: 16px;
        color: red;
        max-width: 800px;
        overflow: hidden;
    }
</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="{$url}" method="get">
            <div class="layui-form-item pull-right">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" value="{$Think.get.name}" placeholder="请输入用户名" class="layui-input">
                </div>
                <label class="layui-form-label">时间范围</label>
                <div class="layui-input-inline">
                    <input id="timerange" type="text" name="time" value="{$Think.get.time}" readonly  placeholder="请选择时间" class="layui-input">
                </div>
                <button class="layui-btn" lay-submit lay-filter="formDemo">
                    <i class="layui-icon">&#xe615;</i>
                    搜索
                </button>
            </div>
            <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户账号</th>
                <th>用户昵称</th>
                <th>数量/条</th>
                <th>详细清单</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="v"}
            <tr>
                <td>{$i}</td>
                <td>{:getVal('admin_user.name.' . $v.uid)}</td>
                <td>{:getVal('admin_user.nc.' . $v.uid)}</td>
                <td class="mark">{$v.num}</td>
                <td>
                    <table style="width: 100%">
                        <thead>
                        <tr>
                            <th>操作名称</th>
                            <th>数量/条</th>
                            <th>文章记录id</th>
                        </tr>
                        </thead>
                        {foreach $v.rids as $k => $lm}
                        <tr>
                            <td style="width: 15%">添加{:getLm($k)} </td>
                            <td style="width: 15%" class="mark">{:count($lm)}</td>
                            <td class="mark" title="文章id：{:implode(',',$lm)}">{:implode(',',$lm)}</td>
                        </tr>
                        {/foreach}
                    </table>
                </td>
                <td>
                    <a href="javascript:void(0)" style="color: #1E9FFF;cursor: pointer">
                        <i class="layui-icon">&#xe615;</i>
                        查看绩效
                    </a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        </form>
    </div>
</fieldset>


{/block}

{block name="script"}
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#timerange'
            ,type: 'date'
            ,range: '~'
            ,theme: 'molv'
        });

    });
</script>
{/block}



