{extend name="extra@admin/common"}

{block name='style'}
<link rel="stylesheet" href="" />
<style>

</style>
{/block}

{block name='content'}
<fieldset class="layui-elem-field">
    <legend>{$sonTitle ?? ''}</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <form class="layui-form" action="{$url}" method="post">
                {if isset($comment)}
                <input type="hidden" name="id" value="{$comment.id}" />
                {/if}
                <div class="layui-row">
                    <div class="layui-col-sm9 layui-col-md8">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户昵称：</label>
                            <div class="layui-input-block">
                                <input placeholder="请输入用户昵称,不超过6个字符。格式：xx先生或任意不超过六个字的昵称..." type="text" name="name" lay-verify="required|name" value="{$comment.name ?? ''}" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-row">
                    <div class="layui-col-sm9 layui-col-md8">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户地址：</label>
                            <div class="layui-input-block">
                                <input placeholder="请输入用户昵称,不超过10个字符。格式：xx省xx市..." type="text" name="address" lay-verify="required|address" value="{$comment.address ?? ''}" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-sm9 layui-col-md8">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户评论：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入用户评论,不超过255个字符..." class="layui-textarea" rows="2" name="comment" lay-verify="required|comment">{$comment.comment ?? ''}</textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">是否显示：</label>
                    <div class="layui-input-block">
                        {if isset($comment)}
                        {eq name='comment.is_show' value='1'}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示">
                        <input type="radio" name="is_show" value="2" title="隐藏" checked>
                        {/eq}
                        {else /}
                        <input type="radio" name="is_show" value="1" title="显示" checked>
                        <input type="radio" name="is_show" value="2" title="隐藏">
                        {/if}
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-sm9 layui-col-md8">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户头像：</label>
                            <div class="layui-input-block">
                                <input placeholder="请输入图片路径..."  id="img" type="text" name="thumb"  lay-verify="required" value="{$comment.thumb ?? ''}" readonly class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-sm9 layui-col-md8">
                        <div class="layui-form-item">
                            <label class="layui-form-label">原始图片：</label>
                            <div class="layui-input-block">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn layui-btn-sm" id="test1">上传图片</button>
                                    <div class="layui-upload-list">
                                        {if isset($comment)}
                                        <img class="layui-upload-img" src="/static/{$comment.thumb}" width="50" height="50" id="demo1">
                                        {else /}
                                        <img class="layui-upload-img" width="50" height="50" id="demo1">
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-left: 200px">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit >保存</button>
                        <button style="margin-left: 50px;" type="reset" class="layui-btn layui-btn-danger">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>



{/block}

{block name="script"}
<script>
    layui.use(['form','upload'], function(){
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;
        form.on('select(level)', function(data){
            var level = data.value;
            var url = "{:url('admin/Node/getJsonTree')}";
            $.get(url, {'level':level}, function (res) {
                if (res.suc == 0){
                    $('#pid').html('');
                    $('#pid').append(res.data);
                }
            })
        });

        form.render('select');


        //普通图片上传
        var url = '/admin/upload/upImg/type/head';
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: url
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var name = res.data.src;
                $('#img').val(name);
                return layer.msg('上传成功', {icon: 1});
            }
        });

        form.verify({
            name: function(value){
                if(value.length > 6){
                    return '用户昵称不超过6个字符啊';
                }
            },
            address: function(value){
                if(value.length > 10){
                    return '用户地址不超过10个字符啊';
                }
            },
            comment: function(value){
                if(value.length > 255){
                    return '用户评论不超过255个字符啊';
                }
            }
        });

    });

</script>

{/block}



