@media only screen and (min-width: 992px) {
	section.section.qfy-row-3-5add3df3d8322598357 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
		padding-bottom: 60px;
		margin-top: 0;
	}
	section.section.qfy-row-3-5add3df3d8322598357>.container {
		max-width: 1280px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 992px) {
	.bit-html section.section.qfy-row-3-5add3df3d8322598357 {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 40px;
		padding-bottom: 0;
		min-height: 0;
	}
}
@media only screen and (min-width: 992px) {
	section.section.qfy-row-4-5add3df3d8adb917103 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
}

@media only screen and (max-width: 992px) {
	.bit-html section.section.qfy-row-4-5add3df3d8adb917103 {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0;
		margin-top: 0;
	}
}
@media only screen and (max-width: 760px) {
	#vc_header_5add3df3d967f929 .header_title {
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 760px) {
	#vc_header_5add3df3d967f929 .header_subtitle {
		font-size: 12px !important;
	}
}
.UUID-POSTS-5add3df3e7e7c644167 li:hover .post-title>i.glyphicon {
	color: #cccccc !important;
}

.UUID-POSTS-5add3df3e7e7c644167 li:hover .post-title>a,
.UUID-POSTS-5add3df3e7e7c644167 li:hover .post-title>div>a,
.UUID-POSTS-5add3df3e7e7c644167 li:hover .post-title>span {
	color: #5b5b5b !important;
}

.UUID-POSTS-5add3df3e7e7c644167 li:hover .post-title>span.toEditor {
	color: #fff !important;
}

.UUID-POSTS-5add3df3e7e7c644167 li:hover .subtitle {
	color: #bababa !important;
}

.UUID-POSTS-5add3df3e7e7c644167 li .post_excerpt {
	width: 100% !important;
	text-align: left
}

.UUID-POSTS-5add3df3e7e7c644167 li:hover .itembody {
	background-color: #ffffff !important;
}

.UUID-POSTS-5add3df3e7e7c644167 li:hover .vc_read_more {}

.UUID-POSTS-5add3df3e7e7c644167 li .itempcbody {
	padding: 24px 0 15px 0;
}

@media only screen and (max-width: 992px) {
	.UUID-POSTS-5add3df3e7e7c644167 .vc_span_mobile {
		float: left !important;
		max-width: 99.8% !important;
	}
	.UUID-POSTS-5add3df3e7e7c644167 .post_blog .vc_span_mobile .blog-media {
		width: auto !important;
	}
	.thumbnail_text-5add3df3e7e2e5 .head {
		font-size: 16px !important;
	}
	.thumbnail_text-5add3df3e7e2e5 .content {
		font-size: 16px !important;
	}
}

.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post .price_warp .amount,
.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post .price_warp del {
	color: #cccccc;
	font-size: 12px;
}

.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post .price_warp ins .amount {
	color: #cccccc;
	font-size: 12px;
}

.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post .price_warp {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post:hover .price_warp .amount,
.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post:hover .price_warp del {
	color: #cccccc !important;
}

.UUID-POSTS-5add3df3e7e7c644167 .qfy_item_post:hover .price_warp ins .amount {
	color: #cccccc !important;
}

.UUID-POSTS-5add3df3e7e7c644167 li:hover {
	transition: all .6s ease;
}

.UUID-POSTS-5add3df3e7e7c644167 li {
	transition: all .6s ease;
}
@media only screen and (min-width: 992px) {
	.qfy-column-4-5add3df3d8f03278248>.column_inner {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.qfe_row .vc_span_class.qfy-column-4-5add3df3d8f03278248 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-4-5add3df3d8f03278248>.column_inner {
		margin: 0 auto 0 !important;
		padding:0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-4-5add3df3d8f03278248 {}
	.qfy-column-4-5add3df3d8f03278248>.column_inner>.background-overlay,
	.qfy-column-4-5add3df3d8f03278248>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
@media only screen and (min-width: 992px) {
	.qfy-column-3-5add3df3d8737338833>.column_inner {
		padding:0;
	}
	.qfe_row .vc_span_class.qfy-column-3-5add3df3d8737338833 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-3-5add3df3d8737338833>.column_inner {
		margin: 0 auto 0 !important;
		padding:0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-3-5add3df3d8737338833 {}
	.qfy-column-3-5add3df3d8737338833>.column_inner>.background-overlay,
	.qfy-column-3-5add3df3d8737338833>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
.newsElement{
	padding: 0px 0px 31px;
}
.newsElement li{
	max-width:99.8%;
	margin-bottom:0px;
	padding-bottom:0px;
}
.newsLiCon{
	border-bottom:1px dashed #ccc;
	background-color:#ffffff;
}
/*==========新闻列表标题======*/
.newsLiCon .postTitle{
	padding-bottom:5px;
	font-weight:normal;
	color:#000000;
	line-height:18px; 
	vertical-align: top; 
	text-align:left;
	width:100%;
}
.newsLiCon .postTitle .link_title{
	color:#000000;
	font-size:18px;
	font-family:微软雅黑;
	line-height:18px;
}
/*==========新闻列表内容======*/
.blogContent{
	display:block;
	word-break:break-all;
}
.blogContent .postThumb{
	overflow:hidden;
	width:1200px;
	vertical-align:middle;
}
.blogContent .postComment{
	padding-top:5px;
	padding-bottom:5px;
	color:#3a79e8;
	font-size:12px;
	line-height:12px;
	font-family:arial;
}
.blogContent .postExcerpt{
	color:#999999;
	font-size:13px;
	font-family:微软雅黑;
	line-height:22px;
}
#vc_header_5add3df3d967f929 .button_wrapper .button{
	transition: all ease .3s
}
#vc_header_5add3df3d967f929 .button_wrapper .button.active,#vc_header_5add3df3d967f929 .button_wrapper .button:hover{
	background-color:#333333 !important;
	color:#ffffff !important; 
	border:1px solid #333;
	font-weight:400 !important; 
	transition: all ease .3s
 }



/*============新闻详情=============*/
@media only screen and (min-width: 992px) {
	.qfy-column-4-5add6c7a5cef5305769>.column_inner {
		padding:0;
	}
	.qfe_row .vc_span_class.qfy-column-4-5add6c7a5cef5305769 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-4-5add6c7a5cef5305769>.column_inner {
		margin: 0 auto 0 !important;
		padding:0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-4-5add6c7a5cef5305769 {}
	.qfy-column-4-5add6c7a5cef5305769>.column_inner>.background-overlay,
	.qfy-column-4-5add6c7a5cef5305769>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
@media only screen and (min-width: 992px) {
	.qfy-column-3-5add6c7a5c4e8957781>.column_inner {
		padding:0;
	}
	.qfe_row .vc_span_class.qfy-column-3-5add6c7a5c4e8957781 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-3-5add6c7a5c4e8957781>.column_inner {
		margin: 0 auto 0 !important;
		padding:0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-3-5add6c7a5c4e8957781 {}
	.qfy-column-3-5add6c7a5c4e8957781>.column_inner>.background-overlay,
	.qfy-column-3-5add6c7a5c4e8957781>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
@media only screen and (min-width: 992px) {
	section.section.qfy-row-2-5add72f48d81b82628 {
		padding:80px 0 100px 0;
		margin-top: 0;
	}
	section.section.qfy-row-2-5add72f48d81b82628>.container {
		max-width: 1280px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 992px) {
	.bit-html section.section.qfy-row-2-5add72f48d81b82628 {
		padding:20px 15px 100px 15px;
		margin-top: 0;
		min-height: 0;
	}
}
@media only screen and (max-width: 760px) {
	#vc_header_5add72f48e438589 .header_title {
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 760px) {
	#vc_header_5add72f48e438589 .header_subtitle {
		font-size: 20px !important;
	}
}
@media only screen and (min-width: 992px) {
	section.section.qfy-row-3-5add72f48f639150268 {
		padding:20px 0 0 0;
		margin-top: 0;
	}
}

@media only screen and (max-width: 992px) {
	.bit-html section.section.qfy-row-3-5add72f48f639150268 {
		padding:20px 15px 0 15px;
		margin-top: 0;
	}
}
@media only screen and (min-width: 992px) {
	.qfy-column-3-5add72f48fc24940913>.column_inner {
		padding:0;
	}
	.qfe_row .vc_span_class.qfy-column-3-5add72f48fc24940913 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-3-5add72f48fc24940913>.column_inner {
		margin: 0 auto 0 !important;
		padding:0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-3-5add72f48fc24940913 {}
	.qfy-column-3-5add72f48fc24940913>.column_inner>.background-overlay,
	.qfy-column-3-5add72f48fc24940913>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
.vcprenext-5add72f490cce1074 a:hover span {
	color: #333 !important
}

.vcprenext-5add72f490cce1074 a:hover svg polyline {
	stroke: #333 !important
}
@media only screen and (min-width: 992px) {
	.qfy-column-2-5add72f48dd4f491103>.column_inner {
		padding:1px 80px 52px 0;
	}
	.qfe_row .vc_span_class.qfy-column-2-5add72f48dd4f491103 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-2-5add72f48dd4f491103>.column_inner {
		margin: 0 auto 0 !important;
		min-height: 0 !important;
		padding:0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-2-5add72f48dd4f491103 {}
	.qfy-column-2-5add72f48dd4f491103>.column_inner>.background-overlay,
	.qfy-column-2-5add72f48dd4f491103>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
.UUID-POSTS-5add72f4b4e47179835 li:hover .post-title>i.glyphicon {
	color: #cccccc !important;
}

.UUID-POSTS-5add72f4b4e47179835 li:hover .subtitle {
	color: #cccccc !important;
}

.UUID-POSTS-5add72f4b4e47179835 li .post-comment {
	width: 100% !important;
	text-align: left
}

.UUID-POSTS-5add72f4b4e47179835 li:hover .vc_read_more {}

@media only screen and (max-width: 992px) {
	.UUID-POSTS-5add72f4b4e47179835 .vc_span_mobile {
		float: left !important;
		max-width: 99.8% !important;
	}
	.UUID-POSTS-5add72f4b4e47179835 .post_blog .vc_span_mobile .blog-media {
		width: auto !important;
	}
	.thumbnail_text-5add72f4b4de3610 .head {
		font-size: 16px !important;
	}
	.thumbnail_text-5add72f4b4de3610 .content {
		font-size: 16px !important;
	}
}

.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post .price_warp .amount,
.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post .price_warp del {
	color: #cccccc;
	font-size: 12px;
}

.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post .price_warp ins .amount {
	color: #cccccc;
	font-size: 12px;
}

.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post .price_warp {
	padding:0;
}

.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post:hover .price_warp .amount,
.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post:hover .price_warp del {
	color: #cccccc !important;
}

.UUID-POSTS-5add72f4b4e47179835 .qfy_item_post:hover .price_warp ins .amount {
	color: #cccccc !important;
}

.UUID-POSTS-5add72f4b4e47179835 li:hover {
	transition: all .6s ease;
}

.UUID-POSTS-5add72f4b4e47179835 li {
	transition: all .6s ease;
}
@media only screen and (min-width: 992px) {
	.qfy-column-4-5add72f49f066212942>.column_inner {
		padding: 11px 0 0 0;
	}
	.qfe_row .vc_span_class.qfy-column-4-5add72f49f066212942 {}
}

@media only screen and (max-width: 992px) {
	.qfy-column-4-5add72f49f066212942>.column_inner {
		margin: 0 auto 0 !important;
		padding: 11px 0 0 0;
	}
	.display_entire .qfe_row .vc_span_class.qfy-column-4-5add72f49f066212942 {}
	.qfy-column-4-5add72f49f066212942>.column_inner>.background-overlay,
	.qfy-column-4-5add72f49f066212942>.column_inner>.background-media {
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
	}
}
.newsDetialCon{
	margin-top:0;
	margin-bottom:0;
	padding:0;
	border-radius:0px;
}
.newsDetialSection{
	margin-bottom:0;
	border-radius:0px;
	border-top:1px solid rgba(226,226,226,1);
	color:#000000;
}
.newsDetialElement{
	padding-bottom:20px;
}
.newsDetialTitle{
	font-family:微软雅黑;
	font-size:26px;
	font-weight:normal;
	font-style:normal;
	color:#191919;
}
.dateCon{
	position: relative;
	line-height:1.5em;
	background:left top no-repeat;
	font-size:14px ;
	font-weight:normal ;
	font-style:normal ;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
	padding:0 0 19px 0;
	border-radius:0px;
	color:#373A41;
}
.wrapCon{
	position: relative;
	line-height:1.5em;
	background: transparent left top no-repeat;
	font-size:14px ;
	font-weight:normal ;
	font-style:normal ;
	color:#898989;
	text-align:inherit;
	margin-top:0;
	margin-bottom:0;
	padding:11px 0 23px 0;
	border-radius:0px;
}
.wrapConSection{
	margin-bottom:0;
	border-radius:0px;
	color:#606060;
}
.textContent{
	position: relative;
	line-height:1.5em;
	background-repeat: no-repeat;
}
.articleSpan{
	display:inline-block;
	line-height:1.8;
	color: rgb(128, 128, 128);
	font-size: 14px;
	font-family: 微软雅黑;
}
/*======上下翻页======*/
.pagePreNext{
	margin-top:0;
	margin-bottom:0;
	padding:0;
}
.pagePreNext .prePadding{
	padding:0;
}
.pagePreNext .action{
	font-size:14px ;
	font-weight:normal ;
	font-style:normal ;
	color:#606060;
}
.pagePreNext .blank{
	width:10px;
	height:0px;
}
.pagePreNext .title{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #606060;
	max-width: 300px;
	line-height: 14px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*height: 30px;*/
}
.pagePreNext .title:hover{
	color:#0099ff !important;
}
/*=======分享按钮========*/
.newsShare{
	margin-top:0;
	margin-bottom:0;
	padding: 19px 0 0 0;
}
.newsShare .shareText{
	color:#000000;
}
.dashTitle{
	height:50px;
	border-bottom:2px dashed #0099ff;
}
.newsLis{
	max-width:99.8%;
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #e5e5e5;
}
.newsLis:hover .linkTitle{
	color:#0099ff !important;
}
.newsLis .blogContent{
	display:block;
	word-break:break-all;
}
.newsLis .blogContent .postTltle{
	font-weight:normal;
	color:#373A41;
	line-height:15px; 
	vertical-align: top; 
	text-align:left;width:100%; 
}
.newsLis .blogContent .postTltle .linkTitle{
	color:#373A41;
	font-size:15px;
	font-family:微软雅黑;
	line-height:15px;
}
.newsLis .blogContent .newsPostComment{
	color:#bfbfbf;
	font-size:12px;
	line-height:12px;
	font-family:微软雅黑;
}
.newsType ul{
	list-style: none;
	text-align: center;
}
.newsType ul li{
	display: contents;
}
.newsType ul li a{
	font-size: 19px;
	width: 150px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
}
.newsType ul li a:hover,.newsType ul li .active{
	color:#0093fa;
	border:1px solid #0093fa;
}
@media only screen and (min-width: 992px) {
	.newsType ul li:nth-of-type(1){
		margin-left:42%;
	}
}
@media only screen and (max-width: 992px) {
	.newsType ul li:nth-of-type(1){
		margin-left:0;
	}
}

